/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
	background-color: #f4f4f4;
}
.spacing{
	clear: both;
	height: 10px;
}
.spacingx2{
  height:20px;
}
.spacingx3{
  height:30px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
nav ul a, nav .brand-logo {
    color: #444;
}

#banner{
    background-position: center center;
    background-size: cover;
    background-image: url("../images/banner.jpg");
    height: 420px;
    color: #fff;
    text-shadow: 1px 1px 5px #666;
}
.steps-container{
	overflow: hidden;
	position: relative;
}
.template-cards{
	position: relative;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.template-cards .card-content{
	text-align: center;
	text-transform: uppercase;
	padding: 15px;
	background-color: #009688;
	position: absolute;
	top: calc(100% - 16px);
	left: 0;
	width: 100%;
	padding: 10px 16px;
	color: #fff;
	font-size: 15px;
	line-height: 1.6em;
	margin: 0;
	z-index: 10;
}	

.template-cards .mc-card {
	position: relative;
	height: 0;
	padding-bottom: calc(100% - -40px);
	margin-bottom: 4.6em;
}
.template-cards .mc-card:hover .img-container{
	box-shadow:0 0 7px 1px rgba(0, 0, 0, .14);
	top:-3px;
}

.template-cards .card-title{
	color: #fff
}
.template-cards .card-content span{
	display: block;
}
.template-cards .card-content:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: -16px;
  width: 0;
  border: 8px solid;
}
.template-cards .card-content:before {
  border-top-color: transparent;
  border-right-color: #004D40;
  border-bottom-color: #004D40;
  border-left-color: transparent;
}

.template-cards .mc-content{
	position: absolute;
    right: 0;
    top: 0;
    bottom: 16px;
    left: 16px;
}
.template-cards .img-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.select-overlay{
    background-color:rgba(0,0,0,.65);
    opacity: 0;
    position: absolute;
    display: inline-block;
    z-index: 5;
    padding:2px 4px;
    font-size: 13px;
    right: 0;
    color: #fff;
    top:0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.template-cards .mc-card:hover .select-overlay{
	opacity: 1;
	top:-3px;
}
.select-overlay .material-icons{
	position: relative;
	top: 2px;
}
.step-content{
	position: relative;
	top: 0;
	right: 0;
	display: none;
}
.step-content.active{
	display: block
}
.form-buttons{
	text-align: right;
}
.build-section.card .card-content .card-title{
  line-height: normal;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #00897b;
  padding-bottom: 10px;
  display: inline-block;
}
.build-section .card-content{
  min-height: 150px;
}
.build-section h5{
  font-weight: bold;
  font-size: 20px;
}
.build-section{
  margin-bottom: 20px;
  font-size: 14px;
}
.table-of-contents.fixed{
  position: fixed;
  top: 50px;
}
.build-section .edit-btn{
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0 10px;
  font-size: 13px;
  display: none;
  color: #666;
}
.build-section:hover .edit-btn{
  display: block;
}
.build-section .edit-btn .material-icons{
  font-size: 14px;
  margin-right: 5px;
}
.cancel-btn{
  color: #00897b;
}
.s-title{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.s-title .material-icons{
  color: #666;
}
.s-title .material-icons, .btn-small i{
  vertical-align: bottom;
}
.s-item{
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.s-actions{
  position: absolute;
  right: 20px;
}
.s-actions .material-icons{
  font-size: 14px;
}
.btn-small{
  font-size: 13px;
  padding:5px 8px;
  line-height: normal;
  height: initial;
  font-weight: 300;
}
.btn-small i{
  font-size: 15px;
}
.delete-btn{
  background-color: 
}

.preview-section{
  background-color: #fff;
  padding:0 30px 30px;
  min-height: 600px;
}

.preview-section .np{

}
.theme1 .np{
  background-color: #f44336;
  margin-left: -30px;
  margin-right: -30px;
  padding: 20px;
  color: #fff;
}
.theme1 .np h3{
  margin: 0;
  line-height: normal;
  font-size: 24px;
  text-transform: lowercase;
}
.theme1 .np .row{
  margin-bottom: 0
}
.theme1 .section-title{
  color: #f44336;
  font-weight: bold;
  font-size: 18px;
}
.theme1 .section-separator{
  border-top:1px dashed #ddd;
  margin: 15px -30px 15px -30px;

}
.theme1 .skills-data i{
  vertical-align: middle;
  color: #f44336;
}
.theme1 .skills-data i.gray{
  color: #ddd;
}